# Assignment 4

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

In [23]:
import pandas as pd

# Answers

### 1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.

In [24]:
#First, we need to import our panda library
import pandas as pd
import numpy as np

#Assign path to a variable
bogota_database = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')
bogota_database

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996.0,GRADISPAN LTDA,CO,BOGOTA,4631.0,U1,2011,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000,776.754003
9996,9997.0,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,CO,BOGOTA,6920.0,U1,2022,n.a.,n.a.,3736339.155,...,1012683.301,321.540861,1032912.114,431.736412,920263.426,478.665649,n.a.,n.a.,n.a.,n.a.
9997,9998.0,JOSHUA CAFE IRLANDES S A S,CO,BOGOTA,5610.0,U1,2018,n.a.,n.a.,n.a.,...,n.a.,n.a.,1827067.154,763.677186,1353686,704.105987,880349,496.939939,293967,151.318783
9998,9999.0,PROYECTO AGUAS DEL BOSQUE S A S,CO,MEDELLIN,4110.0,U1,2021,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,10000.0,GRUPO INVERSIONES SYNERGY SAS,CO,POPAYAN,4110.0,U1,2020,n.a.,n.a.,n.a.,...,136867.8004,43.457407,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [25]:
bogota_database = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')

# Display descriptive statistics for all columns
bogota_stats = bogota_database.describe(include='all')

# Print the statistics for the first few rows
print(bogota_stats.head())

        Unnamed: 0 Company name Latin alphabet Country ISO code  \
count      10000.0                       10000            10000
unique         NaN                        9996                1
top            NaN             CHAMPLAST S A S               CO
freq           NaN                           2            10000
mean        5000.5                         NaN              NaN

       City\nLatin Alphabet  NACE Rev. 2, core code (4 digits)  \
count                  9992                        9650.000000
unique                  507                                NaN
top                  BOGOTA                                NaN
freq                   3613                                NaN
mean                    NaN                        4842.839482

       Consolidation code  Last avail. year  \
count               10000        10000.0000
unique                  3               NaN
top                    U1               NaN
freq                 9993               NaN
mean                  NaN         2020.2965

       Operating revenue (Turnover)\nth LCU 2023  \
count                                      10000
unique                                        56
top                                         n.a.
freq                                        9945
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2023  \
count                                      10000
unique                                        56
top                                         n.a.
freq                                        9945
mean                                         NaN

       Operating revenue (Turnover)\nth LCU 2022  ...  \
count                                      10000  ...
unique                                      7375  ...
top                                         n.a.  ...
freq                                        2546  ...
mean                                         NaN  ...

       Operating revenue (Turnover)\nth LCU 2015  \
count                                      10000
unique                                      4329
top                                         n.a.
freq                                        5643
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2015  \
count                                      10000
unique                                      4329
top                                         n.a.
freq                                        5643
mean                                         NaN

       Operating revenue (Turnover)\nth LCU 2014  \
count                                      10000
unique                                      3965
top                                         n.a.
freq                                        6006
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2014  \
count                                      10000
unique                                      3965
top                                         n.a.
freq                                        6006
mean                                         NaN

       Operating revenue (Turnover)\nth LCU 2013  \
count                                      10000
unique                                      3875
top                                         n.a.
freq                                        6078
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2013  \
count                                      10000
unique                                      3875
top                                         n.a.
freq                                        6078
mean                                         NaN

       Operating revenue (Turnover)\nth LCU 2012  \
count                                      10000
unique                                      1418
top                                         n.a.
freq                                        8532
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2012  \
count                                      10000
unique                                      1418
top                                         n.a.
freq                                        8532
mean                                         NaN

       Operating revenue (Turnover)\nth LCU 2011  \
count                                      10000
unique                                      1016
top                                         n.a.
freq                                        8936
mean                                         NaN

       Operating revenue (Turnover)\nth USD 2011
count                                      10000
unique                                      1017
top                                         n.a.
freq                                        8936
mean                                         NaN

[5 rows x 33 columns]

In [26]:
bogota_stats.head()

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
count,10000.0,10000,10000,9992,9650.000000,10000,10000.0000,10000,10000,10000,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
unique,NaN,9996,1,507,NaN,3,NaN,56,56,7375,...,4329,4329,3965,3965,3875,3875,1418,1418,1016,1017
top,NaN,CHAMPLAST S A S,CO,BOGOTA,NaN,U1,NaN,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
freq,NaN,2,10000,3613,NaN,9993,NaN,9945,9945,2546,...,5643,5643,6006,6006,6078,6078,8532,8532,8936,8936
mean,5000.5,NaN,NaN,NaN,4842.839482,NaN,2020.2965,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.

In [27]:
# Get the list of columns containing 'USD'
columns_to_drop = [col for col in bogota_database.columns if 'USD' in str(col)]

# Drop the columns containing 'USD'
bogota_database = bogota_database.drop(columns=columns_to_drop)

In [28]:
bogota_database #without USD

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth LCU 2019,Operating revenue (Turnover)\nth LCU 2018,Operating revenue (Turnover)\nth LCU 2017,Operating revenue (Turnover)\nth LCU 2016,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth LCU 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996.0,GRADISPAN LTDA,CO,BOGOTA,4631.0,U1,2011,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000
9996,9997.0,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,CO,BOGOTA,6920.0,U1,2022,n.a.,3736339.155,n.a.,1941379.935,1664842.371,1627566.875,1270267.959,1118613.163,1012683.301,1032912.114,920263.426,n.a.,n.a.
9997,9998.0,JOSHUA CAFE IRLANDES S A S,CO,BOGOTA,5610.0,U1,2018,n.a.,n.a.,n.a.,n.a.,n.a.,2543863,3429017.349,1466626.15,n.a.,1827067.154,1353686,880349,293967
9998,9999.0,PROYECTO AGUAS DEL BOSQUE S A S,CO,MEDELLIN,4110.0,U1,2021,n.a.,n.a.,3092123,4888915,7692560,2153419.433,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,10000.0,GRUPO INVERSIONES SYNERGY SAS,CO,POPAYAN,4110.0,U1,2020,n.a.,n.a.,n.a.,2675497,n.a.,n.a.,2757413.5,4450358,136867.8004,n.a.,n.a.,n.a.,n.a.

In [29]:
bogota_database = bogota_database.drop(columns=['Unnamed: 0', 'Country ISO code', 'City\nLatin Alphabet', 'NACE Rev. 2, core code (4 digits)', 'Consolidation code', 'Last avail. year'])
bogota_database

,Company name Latin alphabet,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth LCU 2019,Operating revenue (Turnover)\nth LCU 2018,Operating revenue (Turnover)\nth LCU 2017,Operating revenue (Turnover)\nth LCU 2016,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth LCU 2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,GRADISPAN LTDA,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000
9996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,n.a.,3736339.155,n.a.,1941379.935,1664842.371,1627566.875,1270267.959,1118613.163,1012683.301,1032912.114,920263.426,n.a.,n.a.
9997,JOSHUA CAFE IRLANDES S A S,n.a.,n.a.,n.a.,n.a.,n.a.,2543863,3429017.349,1466626.15,n.a.,1827067.154,1353686,880349,293967
9998,PROYECTO AGUAS DEL BOSQUE S A S,n.a.,n.a.,3092123,4888915,7692560,2153419.433,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,GRUPO INVERSIONES SYNERGY SAS,n.a.,n.a.,n.a.,2675497,n.a.,n.a.,2757413.5,4450358,136867.8004,n.a.,n.a.,n.a.,n.a.

In [30]:
long_bogota_database = bogota_database.melt(id_vars=['Company name Latin alphabet'], 
                           var_name='Year', 
                           value_name='Operating revenue (Turnover)')
long_bogota_database

,Company name Latin alphabet,Year,Operating revenue (Turnover)
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2023,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
2,DINASTIA INVERSIONES S A,Operating revenue (Turnover)\nth LCU 2023,n.a.
3,BACKBONE COMUNICACIONES LTDA,Operating revenue (Turnover)\nth LCU 2023,n.a.
4,MACAOL ESPINOSA SAS,Operating revenue (Turnover)\nth LCU 2023,n.a.
...,...,...,...
129995,GRADISPAN LTDA,Operating revenue (Turnover)\nth LCU 2011,1509000
129996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,Operating revenue (Turnover)\nth LCU 2011,n.a.
129997,JOSHUA CAFE IRLANDES S A S,Operating revenue (Turnover)\nth LCU 2011,293967
129998,PROYECTO AGUAS DEL BOSQUE S A S,Operating revenue (Turnover)\nth LCU 2011,n.a.
129999,GRUPO INVERSIONES SYNERGY SAS,Operating revenue (Turnover)\nth LCU 2011,n.a.

### 3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.

In [31]:
bogota_database

,Company name Latin alphabet,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth LCU 2022,Operating revenue (Turnover)\nth LCU 2021,Operating revenue (Turnover)\nth LCU 2020,Operating revenue (Turnover)\nth LCU 2019,Operating revenue (Turnover)\nth LCU 2018,Operating revenue (Turnover)\nth LCU 2017,Operating revenue (Turnover)\nth LCU 2016,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth LCU 2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,GRADISPAN LTDA,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000
9996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,n.a.,3736339.155,n.a.,1941379.935,1664842.371,1627566.875,1270267.959,1118613.163,1012683.301,1032912.114,920263.426,n.a.,n.a.
9997,JOSHUA CAFE IRLANDES S A S,n.a.,n.a.,n.a.,n.a.,n.a.,2543863,3429017.349,1466626.15,n.a.,1827067.154,1353686,880349,293967
9998,PROYECTO AGUAS DEL BOSQUE S A S,n.a.,n.a.,3092123,4888915,7692560,2153419.433,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,GRUPO INVERSIONES SYNERGY SAS,n.a.,n.a.,n.a.,2675497,n.a.,n.a.,2757413.5,4450358,136867.8004,n.a.,n.a.,n.a.,n.a.

In [32]:
# Drop the columns containing 'USD'
#bogota_database = bogota_database.drop(columns=columns_to_drop)

In [33]:
bogota_database.rename(columns={'Company name Latin alphabet': 'Company Name', 'Country ISO code': 'ISO Code', 'City\nLatin Alphabet' : 'City' , 'NACE Rev. 2, core code (4 digits)' : 'Core Code', 'Last avail. year' : 'Year',
       'Operating revenue (Turnover)\nth LCU 2023' : '2023',
       'Operating revenue (Turnover)\nth LCU 2022' : '2022',
       'Operating revenue (Turnover)\nth LCU 2021' : '2021',
       'Operating revenue (Turnover)\nth LCU 2020' : '2020',
       'Operating revenue (Turnover)\nth LCU 2019' : '2019',
       'Operating revenue (Turnover)\nth LCU 2018' : '2018',
       'Operating revenue (Turnover)\nth LCU 2017' : '2017',
       'Operating revenue (Turnover)\nth LCU 2016' : '2016',
       'Operating revenue (Turnover)\nth LCU 2015' : '2015',
       'Operating revenue (Turnover)\nth LCU 2014' : '2014',
       'Operating revenue (Turnover)\nth LCU 2013' : '2013',
       'Operating revenue (Turnover)\nth LCU 2012' : '2012',
       'Operating revenue (Turnover)\nth LCU 2011' : '2011' }, inplace=True)

In [34]:
# Short names
bogota_database.head()

,Company Name,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,n.a.,4769810,11542995,1595190,1830135,1781000,1445138,41586490,58155914,51813164,23800831,n.a.,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,n.a.,4769796.503,5259328.067,n.a.,612146.462,139395.337,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,DINASTIA INVERSIONES S A,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,BACKBONE COMUNICACIONES LTDA,n.a.,4769348.616,1701322.858,879949.217,653859.797,735620.995,1516456.869,1304091.03,1170331,874868.654,532706,n.a.,n.a.
4,MACAOL ESPINOSA SAS,n.a.,4769148,3624485,715275,743340,9490473,673342,1449218,165799,303235,245349,n.a.,n.a.

### 4. Generate a dictionary with the definition of all the columns in your dataset.

In [35]:
bogota_database.columns

Index(['Company Name', '2023', '2022', '2021', '2020', '2019', '2018', '2017',
       '2016', '2015', '2014', '2013', '2012', '2011'],
      dtype='object')

In [36]:
# keys
columns = ['Company Name', '2023', '2022', '2021', '2020',
       '2019', '2018', '2017', '2016', '2015', '2014',
       '2013', '2012', '2011']

# values
definitions = ['This is the name of the company', 'Total revenue generated measured in the local currency unit in 2023',
               'Total revenue generated measured in the local currency unit in 2022',
               'Total revenue generated measured in the local currency unit in 2021',
               'Total revenue generated measured in the local currency unit in 2020',
               'Total revenue generated measured in the local currency unit in 2019',
               'Total revenue generated measured in the local currency unit in 2018',
               'Total revenue generated measured in the local currency unit in 2017',
               'Total revenue generated measured in the local currency unit in 2016',
               'Total revenue generated measured in the local currency unit in 2015',
               'Total revenue generated measured in the local currency unit in 2014',
               'Total revenue generated measured in the local currency unit in 2013',
               'Total revenue generated measured in the local currency unit in 2012',
               'Total revenue generated measured in the local currency unit in 2011']

# Create a new dictionarie
dictionarie_bogota = dict(zip(columns, definitions))

In [37]:
dictionarie_bogota

{'Company Name': 'This is the name of the company',
 '2023': 'Total revenue generated measured in the local currency unit in 2023',
 '2022': 'Total revenue generated measured in the local currency unit in 2022',
 '2021': 'Total revenue generated measured in the local currency unit in 2021',
 '2020': 'Total revenue generated measured in the local currency unit in 2020',
 '2019': 'Total revenue generated measured in the local currency unit in 2019',
 '2018': 'Total revenue generated measured in the local currency unit in 2018',
 '2017': 'Total revenue generated measured in the local currency unit in 2017',
 '2016': 'Total revenue generated measured in the local currency unit in 2016',
 '2015': 'Total revenue generated measured in the local currency unit in 2015',
 '2014': 'Total revenue generated measured in the local currency unit in 2014',
 '2013': 'Total revenue generated measured in the local currency unit in 2013',
 '2012': 'Total revenue generated measured in the local currency unit in 2012',
 '2011': 'Total revenue generated measured in the local currency unit in 2011'}

In [38]:
type(dictionarie_bogota)

dict

### 5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.

In [39]:
# Reshape database to long format, using data frame with short names.
long_bogota_database = bogota_database.melt(id_vars=['Company Name'], 
                           var_name='Year', 
                           value_name='LCU')

In [40]:
# Change data type in "Year" from str to int.
long_bogota_database['Year'] = long_bogota_database['Year'].astype(int)

In [41]:
#sort values for better visualization of the data.
new_data = long_bogota_database.sort_values (by = ['Company Name', 'Year'])
new_data

                      Company Name  Year   LCU
128865              1 UP MOTOS SAS  2011  n.a.
118865              1 UP MOTOS SAS  2012  n.a.
108865              1 UP MOTOS SAS  2013  n.a.
98865               1 UP MOTOS SAS  2014  n.a.
88865               1 UP MOTOS SAS  2015  n.a.
...                            ...   ...   ...
44485   ZUNIGA ESTRADA ADOLFO LEON  2019  n.a.
34485   ZUNIGA ESTRADA ADOLFO LEON  2020  n.a.
24485   ZUNIGA ESTRADA ADOLFO LEON  2021  n.a.
14485   ZUNIGA ESTRADA ADOLFO LEON  2022  n.a.
4485    ZUNIGA ESTRADA ADOLFO LEON  2023  n.a.

[130000 rows x 3 columns]

In [42]:
#Creating the required function.
def calling_data (firm_name, start_year, end_year = None):
     
    
    filtered_new_data = new_data[(new_data['Company Name'].isin (firm_name)) & (new_data['Year'] >= start_year)]
     
        
    return filtered_new_data

In [43]:
# Using the "calling_data" function with just a company name.
calling_data (["DINASTIA INVERSIONES S A"], 2011)

                    Company Name  Year   LCU
120002  DINASTIA INVERSIONES S A  2011  n.a.
110002  DINASTIA INVERSIONES S A  2012  n.a.
100002  DINASTIA INVERSIONES S A  2013  n.a.
90002   DINASTIA INVERSIONES S A  2014  n.a.
80002   DINASTIA INVERSIONES S A  2015  n.a.
70002   DINASTIA INVERSIONES S A  2016  n.a.
60002   DINASTIA INVERSIONES S A  2017  n.a.
50002   DINASTIA INVERSIONES S A  2018  n.a.
40002   DINASTIA INVERSIONES S A  2019  n.a.
30002   DINASTIA INVERSIONES S A  2020  n.a.
20002   DINASTIA INVERSIONES S A  2021  n.a.
10002   DINASTIA INVERSIONES S A  2022  n.a.
2       DINASTIA INVERSIONES S A  2023  n.a.

In [44]:
# Using the "calling_data" function with a list.
calling_data (["AGRET CARGA NACIONAL Y ESPECIAL S A S", "DINASTIA INVERSIONES S A"], 2011)

                                 Company Name  Year          LCU
120001  AGRET CARGA NACIONAL Y ESPECIAL S A S  2011         n.a.
110001  AGRET CARGA NACIONAL Y ESPECIAL S A S  2012         n.a.
100001  AGRET CARGA NACIONAL Y ESPECIAL S A S  2013         n.a.
90001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2014         n.a.
80001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2015         n.a.
70001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2016         n.a.
60001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2017         n.a.
50001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2018   139395.337
40001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2019   612146.462
30001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2020         n.a.
20001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2021  5259328.067
10001   AGRET CARGA NACIONAL Y ESPECIAL S A S  2022  4769796.503
1       AGRET CARGA NACIONAL Y ESPECIAL S A S  2023         n.a.
120002               DINASTIA INVERSIONES S A  2011         n.a.
110002               DINASTIA INVERSIONES S A  2012         n.a.
100002               DINASTIA INVERSIONES S A  2013         n.a.
90002                DINASTIA INVERSIONES S A  2014         n.a.
80002                DINASTIA INVERSIONES S A  2015         n.a.
70002                DINASTIA INVERSIONES S A  2016         n.a.
60002                DINASTIA INVERSIONES S A  2017         n.a.
50002                DINASTIA INVERSIONES S A  2018         n.a.
40002                DINASTIA INVERSIONES S A  2019         n.a.
30002                DINASTIA INVERSIONES S A  2020         n.a.
20002                DINASTIA INVERSIONES S A  2021         n.a.
10002                DINASTIA INVERSIONES S A  2022         n.a.
2                    DINASTIA INVERSIONES S A  2023         n.a.