# Assignment 3

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use for loop. 
6. After reshaping the data, you should replicate the long data, but instead of using methods of pandas, you have to use while loop.

## Dataset

In [48]:
data = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')
data

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
0,1.0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,CO,CALI,4299.0,U1,2022,n.a.,n.a.,4769810,...,58155914,18465.301699,51813164,21656.856573,23800831,12379.759862,n.a.,n.a.,n.a.,n.a.
1,2.0,AGRET CARGA NACIONAL Y ESPECIAL S A S,CO,BOGOTA,4941.0,U1,2022,n.a.,n.a.,4769796.503,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
2,3.0,DINASTIA INVERSIONES S A,CO,BARRANQUILLA,4771.0,U1,2007,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
3,4.0,BACKBONE COMUNICACIONES LTDA,CO,BOGOTA,6190.0,U1,2022,n.a.,n.a.,4769348.616,...,1170331,371.596172,874868.654,365.677436,532706,277.081601,n.a.,n.a.,n.a.,n.a.
4,5.0,MACAOL ESPINOSA SAS,CO,BOGOTA,6820.0,U1,2022,n.a.,n.a.,4769148,...,165799,52.64346,303235,126.746108,245349,127.615784,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996.0,GRADISPAN LTDA,CO,BOGOTA,4631.0,U1,2011,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1509000,776.754003
9996,9997.0,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,CO,BOGOTA,6920.0,U1,2022,n.a.,n.a.,3736339.155,...,1012683.301,321.540861,1032912.114,431.736412,920263.426,478.665649,n.a.,n.a.,n.a.,n.a.
9997,9998.0,JOSHUA CAFE IRLANDES S A S,CO,BOGOTA,5610.0,U1,2018,n.a.,n.a.,n.a.,...,n.a.,n.a.,1827067.154,763.677186,1353686,704.105987,880349,496.939939,293967,151.318783
9998,9999.0,PROYECTO AGUAS DEL BOSQUE S A S,CO,MEDELLIN,4110.0,U1,2021,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
9999,10000.0,GRUPO INVERSIONES SYNERGY SAS,CO,POPAYAN,4110.0,U1,2020,n.a.,n.a.,n.a.,...,136867.8004,43.457407,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

## Exercise 1

In [35]:
import pandas as pd

In [49]:
data = pd.read_excel('../../_data/bogota_firms.xlsx', sheet_name='Results')
data.describe(include='all').head() # Show descriptive statistics of the dataset

,Unnamed: 0,Company name Latin alphabet,Country ISO code,City\nLatin Alphabet,"NACE Rev. 2, core code (4 digits)",Consolidation code,Last avail. year,Operating revenue (Turnover)\nth LCU 2023,Operating revenue (Turnover)\nth USD 2023,Operating revenue (Turnover)\nth LCU 2022,...,Operating revenue (Turnover)\nth LCU 2015,Operating revenue (Turnover)\nth USD 2015,Operating revenue (Turnover)\nth LCU 2014,Operating revenue (Turnover)\nth USD 2014,Operating revenue (Turnover)\nth LCU 2013,Operating revenue (Turnover)\nth USD 2013,Operating revenue (Turnover)\nth LCU 2012,Operating revenue (Turnover)\nth USD 2012,Operating revenue (Turnover)\nth LCU 2011,Operating revenue (Turnover)\nth USD 2011
count,10000.0,10000,10000,9992,9650.000000,10000,10000.0000,10000,10000,10000,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
unique,NaN,9996,1,507,NaN,3,NaN,56,56,7375,...,4329,4329,3965,3965,3875,3875,1418,1418,1016,1017
top,NaN,CHAMPLAST S A S,CO,BOGOTA,NaN,U1,NaN,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
freq,NaN,2,10000,3613,NaN,9993,NaN,9945,9945,2546,...,5643,5643,6006,6006,6078,6078,8532,8532,8936,8936
mean,5000.5,NaN,NaN,NaN,4842.839482,NaN,2020.2965,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2

#### Delete columns in Dollars

In [40]:
dollar_columns = [col for col in data.columns if 'USD' in col]
data_without_dollars = data.drop(columns=dollar_columns)

#### Maintain columns beginning with LCU 2023 or Company name Latin alphabet

In [41]:
columns_to_keep = [col for col in data_without_dollars.columns if col == 'Operating revenue (Turnover)\nth LCU 2023' or col == 'Company name Latin alphabet']
data_selected_columns = data_without_dollars[columns_to_keep]

#### Changing the format to long

In [42]:
data_long_format = data_selected_columns.melt(id_vars=['Company name Latin alphabet'], var_name='Year', value_name='LCU')

#### Extracting only the year in the column 'Year'.

In [ ]:
data_long_format['Year'] = data_long_format['Year'].str.extract('(\d{4})')

#### Showing the first rows of the new format

In [50]:
data_long_format

,Company name Latin alphabet,Year,LCU
0,CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...,Operating revenue (Turnover)\nth LCU 2023,n.a.
1,AGRET CARGA NACIONAL Y ESPECIAL S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
2,DINASTIA INVERSIONES S A,Operating revenue (Turnover)\nth LCU 2023,n.a.
3,BACKBONE COMUNICACIONES LTDA,Operating revenue (Turnover)\nth LCU 2023,n.a.
4,MACAOL ESPINOSA SAS,Operating revenue (Turnover)\nth LCU 2023,n.a.
...,...,...,...
9995,GRADISPAN LTDA,Operating revenue (Turnover)\nth LCU 2023,n.a.
9996,CONTACTO ESTRATEGICO OUTSOURCING CONTABLE S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
9997,JOSHUA CAFE IRLANDES S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
9998,PROYECTO AGUAS DEL BOSQUE S A S,Operating revenue (Turnover)\nth LCU 2023,n.a.
9999,GRUPO INVERSIONES SYNERGY SAS,Operating revenue (Turnover)\nth LCU 2023,n.a.